body{
	background-color: black;
	font-family: 'Damion', cursive;
	padding: 0px;
	margin: 0px;
}

#nav a{
	text-decoration: none;
	cursor:pointer;
}

input[type=number]{
    width: 60px;
} 

label{
	font-size: 70%;
}

#lower_body{
	background-color: white;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	overflow: auto;
	font-family: 'Kalam', cursive;
}

#datafields input[type=number]{
    width: 60px;
} 

#datafields table{
	display: inline-block;
}

input[disabled] {
    background-color: #EEE;
    border-color: darkgrey;
}

#upper_body{
	background-color: #fce8bf;
	width: 1800px;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

#upper_container_back{
	width: 65%;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	background-color: white;
}

#upper_container_middle{
	width: 100%;
	padding: 1px;
	background-color: black;
}

#upper_container_front{
	width: 65%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	background-color: white;
	/*background-image: url("ornate-curly-border.jpeg");
	background-repeat: no-repeat;
  	background-size: cover;*/
}

#upper_container h1{
	font-size: 450%;
}

#container{
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	min-height: 400px;
}

#header{
	background-color: #8F5BC4;
	text-align: left;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 60px;
	overflow: auto;
	background-image: url("RpAdlw.jpeg");
	background-repeat: no-repeat;
    	background-position: center top;
    	background-size:cover;
    	color: black;
    	height: 700px;
}

#content{
	padding: 10px 10px 10px 10px;
}

#nav_container{
	text-align: center;
	background-color: #8F5BC4;
}

#nav .selected{
	font-weight: bold;
}

#nav{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#nav ul {
	font-size: 200%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8F5BC4;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #C7A5EA;
}

#main{
	width: 600px;
	float: right;
	overflow-x: auto;
	
}

table, tbody, td {
	border: 1px solid black;
	text-align: left;
	border-collapse: collapse;
	white-space: nowrap;
}

td {
	padding: 5px;
}

th{
	text-align: center;
	padding: 5px;
}

#home img {
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer{
	clear: both;
	padding: 10px;
	background-color: #C7A5EA;
	color: white;
	text-align: right;
}

#title{
	background-color: white;
	color: black;
	text-align: center;
	width: 600px;
	height: 400px;
	padding: 20px;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
}
